p {
	color:#2EFEF7;
}
div {
	background-color: red;
}
.greybox{
	background-color: darkgrey;
	width: 80%;
	text-align: right;
	float: left -30%;
}
.blackbox{
	background-color: black;
	text-align: center;
	width: auto;
}
.clear  {
	clear:both;
}
.infobox {
	float: right;
}
.large {
	font-size: 300%;
}
.underline {
	text-decoration: underline;
}
.bold {
	font-weight: bold;
}

#green {
	color: green;
	font-size: 150%;

}
#purple {
	color:purple;
	font-size: 75%;
}
